#homeButton {

  display: flex;
  flex-direction: row;
  justify-content: left;

  position: relative;
  top: 12.5px;
  left: 12.5px;
padding: 0;
margin: 0;
  height: 75px;
  width: 150px;

  transform-origin: 100% 100%;

  z-index: 2;
}

#homeButton:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  cursor: pointer;
}

.navbar {
  overflow: hidden;
  
  height: 100px;
  background-color: rgb(219, 214, 204);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 300px;
  padding-right: 50px;

  position: fixed;
  top: 0;/* Stick to the top */
  left: 0;
  right: 0; /* Full width */
  z-index: 1;

  font-family: 'Playfair Display', serif;

}

.navbar a:link {
  text-decoration: none;
  color: rgb(95, 44, 46);
}
.navbar a:visited {

}
.navbar a:hover {

}
.navbar a:active {

}

body {
  background-image: url('Bridgewater_Tower.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}